#friends-display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9fa;
  padding: 5px;
  font-size: 15px;
}

#friends-display-link i {
  color: #d0cfd0;
  padding: 10px;
}

.main-screen {
  height: 100vh;
}

.friends-screen__list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  border-top: var(--border);
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.6);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--brown);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
