.suggestions {
  margin-top: 25px;
  border-top: var(--border);
  padding-top: 25px;
}

.suggestions__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions__icon-img {
  width: 60px;
  height: 60px;
  background-color: var(--brown);
  border-radius: 10px;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.suggestions__icon-text {
  color: var(--gray);
}
