.alt-header {
  padding: var(--space);
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__cloumn {
  width: 33%;
}

.alt-header__cloumn:first-child {
  margin-right: auto;
}

.alt-header__cloumn:nth-child(2) {
  text-align: center;
}

.alt-header__cloumn:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__cloumn span:last-child {
  margin-left: 20px;
}

.alt-header__title {
  font-weight: 600;
  font-size: 25px;
}

.cus {
  font-size: 19px;
}
