.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  padding-top: 40px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header--line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
